@import '~nouislider/distribute/nouislider.min.css';

:host {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ps-slider .noUi-handle {
  &::before {
    content: unset;
  }

  height: 1.2em !important;
  width: 1.2em !important;
  border-radius: 50%;
  border-color: var(--ps-primary);
  border-width: 1.2px;
  background: #ffffff;
  box-shadow: none;
  transform: translate(-50%, 30%);

  &::after {
    content: unset;
  }

  &:active {
    background: var(--ps-primary);
  }
  &:focus {
    outline: unset;
  }
}

ps-slider .noUi-horizontal[disabled] {
  &:active {
    .noUi-handle {
      background: #ffffff;
    }
  }

  .noUi-handle {
    border-color: #d3d3d3d3;
    &:active {
      background: #ffffff;
    }
  }
}

ps-slider .noUi-connect {
  height: 4px;
  top: calc(50% - 2px);
  background: var(--ps-accent);
}

.mat-form-field-invalid ps-slider .noUi-horizontal {
  background: linear-gradient(to bottom, transparent 40%, var(--ps-error) 40%, var(--ps-error) 60%, transparent 60%);
}

.mat-form-field-invalid ps-slider .noUi-handle {
  border-color: var(--ps-error);
}

ps-slider .noUi-horizontal {
  height: 20px;
  border: none;
  box-shadow: none;
  background: linear-gradient(to bottom, transparent 40%, #d3d3d3d3 40%, #d3d3d3d3 60%, transparent 60%);
  margin: 0 0.7em;

  &:active {
    .noUi-handle {
      background: var(--ps-primary);
    }
  }
}

ps-slider .noUi-tooltip {
  display: none;
}

ps-slider .noUi-active .noUi-tooltip {
  display: block;
}
