.ps-dialog-wrapper__action-bar-container {
  display: flex;
  width: 100%;
}

.ps-dialog-wrapper__error {
  color: var(--ps-error);
}

.ps-dialog-wrapper__buttons {
  margin-left: auto;
}

ps-dialog-wrapper {
  display: block;
  /* Breiter geht bei einem MatDialog nicht, ohne das ein horrizontaler Scrollbalken kommt. */
  max-width: calc(80vw - 48px);
  /*
  Hier nicht fix eine Breite setzen, da z.B. der Confirm Dialog sicht auf das automatische Breite setzen von Material verlässt.
  Wenn ein Dialog eine fixe Breite haben soll, dann direkt beim Dialog auf das <ps-dialog-wrapper> Tag setzen.
  */

  .mat-dialog-actions {
    /* Damit der Abstand der Buttons nach rechts und unten gleich ist */
    margin-bottom: -16px;
  }
}
