<mat-card *ngIf="settings$ | async as settings">
  <mat-card-header>
    <mat-card-title>
      <h2>{{ tableIntl.settingsLabel }}</h2>
    </mat-card-title>
  </mat-card-header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-5">
        <h3>{{ tableIntl.displayedColumnsLabel }}</h3>
        <div *ngFor="let columnDef of columnDefinitions">
          <mat-checkbox
            [disabled]="settings.sortColumn === columnDef.property || columnDef.mandatory"
            *ngIf="columnDef.header && columnDef.property"
            [checked]="columnVisible(settings, columnDef)"
            (change)="hiddenColumnsChange(settings, $event, columnDef)"
          >
            {{ columnDef.header }}
          </mat-checkbox>
        </div>
      </div>
      <div class="col-7">
        <ng-container *ngIf="sortDefinitions.length">
          <h3>{{ tableIntl.sortLabel }}</h3>
          <div class="ps-table__settings-sort-wrapper">
            <mat-select
              class="ps-table__flex-0-0-300"
              [placeholder]="tableIntl.sortLabel"
              [(value)]="settings.sortColumn"
              (selectionChange)="sortSelectionChange($event, settings)"
            >
              <mat-option *ngFor="let sortDefinition of sortDefinitions" [value]="sortDefinition.prop">{{
                sortDefinition.displayName
              }}</mat-option>
            </mat-select>
            <div class="ps-table__settings-sort-button-container">
              <button
                mat-mini-fab
                class="ps-table__smaller-mini-fab"
                type="button"
                (click)="settings.sortDirection = 'desc'"
                [ngClass]="{ 'ps-table__button-inactive': settings.sortDirection === 'asc' }"
              >
                <mat-icon>arrow_downward</mat-icon>
              </button>
              <button
                mat-mini-fab
                class="ps-table__smaller-mini-fab"
                type="button"
                (click)="settings.sortDirection = 'asc'"
                [ngClass]="{ 'ps-table__button-inactive': settings.sortDirection === 'desc' }"
              >
                <mat-icon>arrow_upward</mat-icon>
              </button>
            </div>
          </div>
        </ng-container>
        <h3>{{ tableIntl.itemsPerPageLabel }}</h3>
        <mat-select class="ps-table__width-25-percent" [(value)]="settings.pageSize">
          <mat-option *ngFor="let pageSizeOption of pageSizeOptions" [value]="pageSizeOption">{{ pageSizeOption }}</mat-option>
        </mat-select>
      </div>
    </div>
  </div>
  <mat-card-actions class="text-right">
    <button mat-raised-button color="primary" (click)="saveSettings(settings)">{{ tableIntl.saveSettingsLabel }}</button>
    <button class="margin-left-025em" mat-stroked-button (click)="abortSettings()">{{ tableIntl.abortSettingsLabel }}</button>
  </mat-card-actions>
</mat-card>
